.login{
    margin: 0;
    height: 100vh;
    font-family: arial;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#loginHeader{
    margin-left: -69px;
}

.login__form{
    color: #393E46;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1.5px solid #ccc;
    padding: 45px 20px 30px 15px;
    border-radius: 3px;
}

.login__input{
    display: flex;
    justify-content: center;
}

.login__input :hover{
    background-color: black;
}

input[type = text]{
    margin-top: 5px;
    margin-bottom: 14px;
    padding: 5px 0px 5px 0px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
}

.login__boton{
    width: 30%;
    margin-top: 15px;
    border: none;
    padding: 6px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    background-color: #393E46;
    color: white;
}

.login__boton :hover{
    background-color: black;
}

#boton{
    color:white;
    text-decoration: none;
}

#login__heading{
    padding-left: 0px;
}