.home{
    background-color: #f7f7f7;
    padding: 0 20px 20px;
    width: 100%;
}

.content-home{
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 86vh;
    max-height: 100%;
    background-color: white

}

.content-home.active{
    justify-content: center;
}

.content-home__center{
    display: flex;
    margin: 0;
}

.content-home__data{
    display: flex;
    padding: 10px 30px;
    margin: 10px 10px;
    line-height: 25px;
}

.content-home__data-single{
    text-decoration: none;
    color: black;
}

.content-home__data-title{
    text-align: center;
    margin-bottom: 12px;
}

#content-home__loading{
    display: flex;
}

#content-home__loading{
    width: 250px;
}

@media screen and (max-width: 1200px) {
    .content-home__center {
        grid-template-columns: auto auto auto;
        margin-top: 40px;
    }
}

@media screen and (max-width: 950px) {
    .content-home__center {
        grid-template-columns: auto auto;
        margin-top: 40px;
    }
}

@media screen and (max-width: 653px) {
    .content-home__center {
        grid-template-columns: auto;
    }
}