.home{
    background-color: #f7f7f7;
    padding: 0 20px 20px;
    width: 100%;
}

.content-home{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: white;
}

.content-home__center{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0;
}

.content-home__data{
    display: grid;
    padding: 10px 30px;
    margin: 10px 10px;
    line-height: 25px;
}

.home-content__grid-item{
    display: grid
}

.content-home__data-single{
    text-decoration: none;
    color: black;
}

.content-home__data-title{
    text-align: center;
    margin-bottom: 12px;
}

@media screen and (max-width: 1000px) {
    .content-home__center {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 653px) {
    .content-home__center {
        grid-template-columns: auto;
    }

    .content-home{
        padding-top:120px;
    }
}