.historial{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
}

.historial__encabezado{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.tabla__encabezado{
    display: grid;
    grid-template-columns: 15% auto;
    font-size: 16px;
    color: #303234;
    border-bottom: 1px solid lightgray;
    font-weight: 300;
    padding: 0 0 15px 10px;
}

#historial__titulo{
    font-size: 32px;
    font-weight: 300;
    padding-top: 5px;
    color: #303234;
}

#historial__button-close{
    cursor: pointer;
}

#tabla{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}