
.tarjeta{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    font-family: helvetica;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 20px;
}

.tarjeta__grupo{
    display: flex;
    flex-direction: column;
    font-size: 17px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.tarjeta__tipo{
    padding-bottom: 8px;
}

.tarjeta__grupo-tipo{
    font-size: 15px;
    font-weight: 900;
    padding-top: 10px;
}

.tarjeta__grupo-datos-columna{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.tarjeta__grupo-datos-fila{
    display: flex;
    flex-direction: row;
}

.tarjeta__grupo-dato{
    padding: 10px 20px 0 0;
}