.app__navbar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
    padding: 20px;
    height: 80px;
    background-size: cover;
    position: fixed;
    z-index: 1;
}

.app__navbar-background{
    background-color: #F7F7F7;
}

.p__opensans{
    color: black;
    font-family: sans-serif;
}

.app__navbar-hamburger{
    color: black;
    transition: 350ms;
    z-index: 3;
    padding-top: -80px;
}

.app__navbar-hamburger.active{
    margin-left: 240px;
    transition: 350ms;
}

.app__navbar-logo {
    justify-content: center;
}

.app__navbar-logo img {
    width: 40px;
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0;
    list-style: none;
    color: white;
}

.app__navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
}

.app__navbar-links li:hover {
    color: lightblue;
}

.app__navbar-version {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.app__navbar-version a {
    margin: 0 1rem;
    text-decoration: none;
    transition: .5s ease;
    margin-right: 40px;
}


.app__navbar-logo{
    width: 100px;
    height: auto;
}

@media screen and (min-width: 2000px) {
    .app__navbar-logo img {
        width: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__navbar-links {
        display: none;
    }
}

@media screen and (max-width: 690px) {
    .app__navbar {
        padding: 1rem;
        grid-template-columns: auto auto;
    }

    .app__navbar-version {
        display: none;
    }

    .app__navbar-logo img {
        width: 30px;
    }

    .app__navbar-logo{
        padding-left: 37px;
    }
}