.nav-sidemenu{
    background-color: #393E46;
    color: white;
    display: flex;
    justify-content: start;
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    top: 0px;
    right: 20px;
    padding-top: 35px;
}

.nav-sidemenu.active{
    left: 0px;
    transition: 350ms;
    padding-left: 20px;
}

.nav-sidemenu__background{
    background-color: #f7f7f7;
    display: flex;
    justify-content: start;
    width: 260px;
    height: 150vh;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    top: 80px;
    right: 30px;
}

.nav-sidemenu__background.active{
    left: 0px;
    transition: 350ms;
}

.nav-text{
    display: block;
    padding: 8px 0px 8px 20px;
    list-style: none;
    height: 60px;
}

.nav-text a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100px;
    align-items:center;
    border-radius: 4px;
    font-family: Helvetica;
    font-size: 16px;
    color: white;
}

.nav-text a:hover{
    color: red;
}

.nav-menu__items{
    width: 100%;
}

.sidebar-heading{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 120px 20px;
    border-radius: 8px;
}

.sidebar-heading img{
    width:130px;
    height: auto;
}
